# Directories
.husky/**
.yarn/**
.vscode/**
coverage/**
cue.mod/**
dist/**
docs/**

# Files
.editorconfig
.env*
.eslintignore
.gitignore
.pnp.cjs
.pnp.loader.mjs
.prettierignore
.prettierrc
.yarnrc.yml
LICENSE
package.json
yarn.lock
